#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Name=Clion
Comment=Clion
Exec=/home/zgx010/IDE/clion-2018.2.4/bin/clion.sh
Icon=/home/zgx010/IDE/clion-2018.2.4/bin/clion.png
Terminal=false
StartupNotify=false
Type=Application
Categories=Application;Development;
